/* Variables */
:root {
    --main-color: #fff;
    --secondary-color: #000;
    --background-color: #EEEEEE;
    --accent-color: #D76217;
    --font-color: #333333;
    --font-family: "Roboto", sans-serif;
    font-size: 10px;
}
    
body {
    background-color: var(--background-color);
    font-family: var(--font-family);
    color: var(--font-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

a {
    color: var(--accent-color);
}

#header {
    text-align: center;
    width: 100%;
    padding: 1.2rem;
}

#main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.hero {
    background-color: var(--main-color);
    display: flex;
    justify-content: center;
    width: 100%;    
    padding: 60px 0;
}

.hero-img {
    width: 200px;
    height: 284px;
    border: 2px solid var(--secondary-color);
    box-shadow: 8px 8px 10px 0px var(--font-color);
}

#footer {
    text-align: center;
}
