/* Variables */
:root {
    --main-color: #fff;
    --secondary-color: #000;
    --background-color: #EEEEEE;
    --accent-color: #D76217;
    --font-color: #333333;
    --font-family: "Roboto", sans-serif;
    font-size: 10px;
}

/* 
Media queries: 
@media (min-width:320px) - smartphones, portrait iPhone, portrait 480x320 phones (Android)
@media (min-width:480px) - smartphones, Android phones, landscape iPhone
@media (min-width:600px) - portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android)
@media (min-width:801px) - tablet, landscape iPad, lo-res laptops ands desktops
@media (min-width:1025px) - big landscape tablets, laptops, and desktops
@media (min-width:1281px) - hi-res laptops and desktops
*/
   
body {
    background-color: var(--background-color);
    font-family: var(--font-family);
    color: var(--font-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    
}

a {
    color: var(--accent-color);
}

#header {
    text-align: center;
    width: 100%;
    padding: 2rem 0;
}

.header-text {
    font-size: 1.4rem;

}

#main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    font-size: 1.2rem;
}

.hero {
    background-color: var(--main-color);
    display: flex;
    justify-content: center;
    width: 100%;    
    padding: 4rem 0;
}

.hero-img {
    width: 150px;
    height: 213px;
    border: 2px solid var(--secondary-color);
    box-shadow: 8px 8px 10px 0px var(--font-color);
}

article {
    width: 90%;
    padding: 1.2rem 0;
}

#footer {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    padding: 1.8rem 0;
}

.footer-left {
    width: 30%;
    text-align: left;   
}

.sources-list {
    list-style: none;
    text-align: left;
    padding: 0;
    margin: 0;
}

.footer-mid {
    width: 30%;
    text-align: left;
}
.footer-right {
    width: 30%;
    text-align: left;
}

@media only screen and (min-width: 480px) {
    .header-title {
        font-size: 2.4rem;
    }

    .header-text {
        font-size: 1.8rem;

    }

    #main {
       font-size: 1.4rem;
    }

    .hero-img {
        width: 180px;
        height: 256px;
    }

    .article-title {
        font-size: 2rem;
    }

    #footer {
        font-size: 1.2rem;        
    }
}

@media only screen and (min-width: 600px) {
    
    .hero-img {
        width: 190px;
        height: 270px;
    }
}

@media only screen and (min-width: 801px) {
    
    .header-title {
        font-size: 2.6rem;
    }

    .header-text {
        font-size: 2rem;

    }

    #main {
       font-size: 1.6rem;
    }

    .hero-img {
        width: 200px;
        height: 284px;
    }

    .article-title {
        font-size: 2.2rem;
    }

    #footer {
        font-size: 1.4rem;        
    }
}

@media only screen and (min-width: 1025px) {
    
    .hero-img {
        width: 240px;
        height: 341px;
    }

    .footer-left {
        width: 30%;
        text-align: center; 
    }

    .sources-list {
        text-align: center;
    }
    
    .footer-mid {
        width: 30%;
        text-align: center;
    }
    .footer-right {
        width: 30%;
        text-align: center;
    }

}

@media only screen and (min-width: 1281px) {
    
    .header-title {
        font-size: 3rem;
    }

    .header-text {
        font-size: 2.4rem;

    }

    #main {
       font-size: 2rem;
    }

    .hero-img {
        width: 352px;
        height: 500px;
    }

    .article-title {
        font-size: 2.6rem;
    }

    #footer {
        font-size: 1.8rem;        
    }
}